@use "../../../assets/styles/var" as v;

.header {
  @include v.flex(center, space-between);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  padding: 0 var(--container);
  width: 100%;
  height: 5rem;
  backdrop-filter: blur(1rem);
  background-color: rgba(0, 0, 0, 0.7);
  user-select: none;
}

.logo {
  @include v.flex;
  gap: 0.2rem;
  text-decoration: none;
}

.logoImg {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;

  img {
    object-fit: contain;
  }
}

.logoText {
  @include v.font;
  font-weight: 500;
  align-self: self-end;
  margin: 0;
  font-size: 2.5rem;
  color: v.$color;
}

.hamburger {
  position: static;
  z-index: 1000;
}

.nav {
  @include v.flex(center, center, column);
  position: fixed;
  z-index: 1000;
  top: 5rem;
  left: 0;
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: v.$transition;
  background-color: rgba(0, 0, 0, 0.7);
}


.nav[data-active="true"] {
  height: 20rem;
}

.navList {
  @include v.flex(center, center, column);
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.navListItem {
  @include v.flex;
  width: 100%;
}

.navListLink {
  @include v.link;
  width: 100%;
  min-width: 8rem;
}

.navListLink[data-active="true"] {
  color: v.$c2;
}


@media (min-width: 768px) {
  .nav {
    flex-direction: row;
  }

  .nav[data-active="true"] {
    height: 5rem;
  }

  .navList {
    height: 100%;
    flex-direction: row;
  }

  .navListItem {
    border-left: .1rem solid v.$color;
  }

}

@media (min-width: 1025px) {
  .nav {
    position: static;
    height: 100%;
    width: max-content;
    background-color: rgba(0, 0, 0, 0);
  }

  .nav[data-active="true"] {
    height: 100%;
  }

  .navListItem {
    height: 50%;
    border: none;

    &:last-child {
      position: relative;
      margin: 0 1rem;
      padding: 1rem;
      border-radius: .5rem;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 100%;
        height: 150%;
        background-image: linear-gradient(45deg, v.$c1, v.$c2);
        border-radius: .5rem;
        animation: moveBefore 5s infinite linear;
      }

      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 95%;
        height: 95%;
        background: black;
        border-radius: .5rem;
      }

      @keyframes moveBefore {
        from {
          rotate: 0turn;
        }

        to {
          rotate: 1turn;
        }
      }
    }
  }

  .navListLink {
    min-width: max-content;
    padding: 0 1rem;
  }
}