@use "../../../assets/styles/var" as v;


.form {
  width: 100%;
  max-width: 50rem;
  @include v.flex(center, center, column);
  gap: 1rem;
}

.status {
  @include v.font;
  color: v.$color;
  font-size: 1.7rem;
}

.button {
  margin-top: 1rem;
  max-width: 20rem;
}