.about {
    background: linear-gradient(
        to bottom, 
        black, 
        rgb(0, 2, 15), 
        rgb(0, 0, 0) 
    );
}
.about__container {
    z-index: 1;
    padding: 2rem 0;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
// _________________
.about__block {
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 2rem;
}
.about__photo {
    position: relative;
    width: 95%;
    border-radius: 0 25% 0 25%;
    overflow: hidden;
    box-shadow: 1rem 1rem 3rem #000000;
    animation: photo 3s infinite linear;
    opacity: 0;
    transition: $tObserver;
}
@keyframes photo {
    0% { transform: translateY(0); }
    50% { transform: translateY(-1%); }
    100% { transform: translateY(0); }
}
.about__photo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about__photo-p {
    position: absolute;
    margin: 0;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    font-weight: 100;
    @include font;
    color: $c2;
    opacity: .1;
}
// _________________
.about__list {
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 98%;
}
.about__list-li {
    @include font;
    
    z-index: -1;
    font-weight: 200;
    padding: 1rem;
    width: calc(100% - 2rem);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.01);
    transition: $tObserver;
    transform: translate(100vw, -100%) rotate(-15deg);
    &:nth-child(2n) {
        transform: translate(200vw, 100%) rotate(-15deg);
    }
}
.about__list-span {
    max-width: 47.5%;
    font-size: 1.4rem;
    font-weight: 300;
    color: $cSpan;
    text-align: left;
    white-space: nowrap;
    cursor: default;
    user-select: none;
}
.about__list-p {
    margin: 0;
    max-width: 47.5%;
    text-align: right;
    color: $color;
    font-weight: 100;
    font-size: 1.6rem;
}
// ____________
.about_experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.clock {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.clock__item {
    @include font;
    width: 100%;
    padding: 1rem;
    background: rgba(46, 46, 46, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    box-shadow: .3rem .3rem 1rem rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 3rem;
    color: rgba(85, 85, 85, 0.445);
}
.clock__item-span {
    width: 100%;
    text-align: center;
    font-weight: 100;
    font-size: 5rem;
    color: $cSpan;
}
// _________________

@media (min-width: 480px) {
    .about__photo {
        max-width: 35rem;
    }
    

}
@media (min-width: 768px) { 
    .about__photo {
        max-width: 30rem;
    }
    .about__list {
        width: 50%;
    }
    .clock { 
        flex-wrap: nowrap;
    }
}
// _________________
.about--active {
    opacity: 1;
    .about__photo {
        opacity: 1;
    }
    .about__list-li {
        transform: translate(0, 0) rotate(0);
    }
}