.contact {
    position: relative;
    background-image: url("../assets/bg.contact.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 3rem;
    border-top: .1rem solid $cSpan;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.5); 
        backdrop-filter: contrast(150%);
    }
}
.contact__container {

    z-index: 10;
    padding: 3rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}
// ____________
.contact__form {
    width: 100%;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(.3rem);
}
.contact__form-subject {
    width: calc(100% - 2rem);
    padding: 1rem;
    outline: none;
    background: none;
    border: none;
    border-bottom: .1rem solid $cSpan;
    font-size: 1.4rem;
    color: aliceblue;
}
.contact__form-message {
    width: calc(100% - 2rem);
    height: 10rem;
    padding: 1rem;
    outline: none;
    resize: none;
    background: none;
    border: none;
    font-size: 1.4rem;
    color: aliceblue;
}
.contact__form-button {
    @include font;
    font-weight: 200;
    color: $color;
    font-size: 1.5rem;
    border: none;
    background: $bgItem;
    width: 100%;
    height: 2.5rem;
    cursor: pointer;
    opacity: .8;
    &:hover {
        opacity: 1;
    }
    &:active {
        width: calc(100% - 0.4rem);
        height: calc(2.5rem  - 0.4rem);
        margin: .2rem;
        font-size: 1.3rem;
    }
}
// ___________________
.contact__list {
    max-width: 100%;
    overflow-x: auto;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(.3rem);
}
.contact__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
.contact__list-link {
    width: 8rem;
    border: .1rem solid $color;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    color: $color;
    opacity: .5;
    width: 100%;
    svg {
        fill: $color;
        width: 2rem;
        height: 2rem;
    }
    &:hover {
        opacity: 1;
    }
}
// _______________
.contact__activity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    max-width: 50rem;
}
.contact__activity-day {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    font-size: 1.8rem;
    line-height: 3rem;
    text-align: center;
    color: $color;
    span {
        @include font;
        color: $cSpan;
    }
}
// _______________
@media (min-width: 480px) {
    .contact__list {
        max-width: 50rem;
        justify-content: center;
    }
}
// _______________
.contact--active {
    opacity: 1;
}
