@use "var" as v;

.spinner {
	&::before {
		content: "";
		position: absolute;
		z-index: 125;
		width: 100%;
		height: 100%;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		background-color: rgba(0, 0, 0, .5);
	}

	&::after {
		content: "";
		position: absolute;
		z-index: 130;
		padding: 0;
		margin: 0;
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		border: .1rem solid v.$c2;
		border-bottom: .3rem solid v.$c2;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		animation: spinner 1s infinite linear;
	}
}

@keyframes spinner {
	from {
		rotate: 0deg;
	}

	to {
		rotate: 360deg;
	}
}

.header {
	@include v.flex;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 5rem;
	backdrop-filter: blur(1rem);
	background-color: rgba(0, 0, 0, 0.7);
	user-select: none;
}

.header__container {
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__logo-img {
	width: 3.5rem;
	height: 3.5rem;
}

.header__logo-p {
	@include v.font;
	font-weight: 100;
	align-self: self-end;
	margin: 0;
	font-size: 2.5rem;
	color: v.$color;
}

.header__nav {
	@include v.flex(center, center, column);
	position: fixed;
	z-index: 1000;
	top: 5rem;
	left: 0;
	height: 0;
	width: 100%;
	overflow: hidden;
	transition: v.$transition;
	background-color: rgba(0, 0, 0, 0.7);

}

.header__nav--active {
	height: 20rem;
}

.header__nav-list {
	@include v.flex(center, center, column);
	padding: 0;
	width: 100%;
	list-style-type: none;
}

.header__nav-item {
	@include v.flex;
	width: 100%;
}

.header__nav-link {
	@include v.link;
	width: 100%;
	min-width: 8rem;
}

.header__nav-link--active {
	color: v.$c2;
}


.header__lang {
	@include v.flex;
	padding: 0 1rem;
	font-size: 1.3rem;
	color: v.$color;
}

.header__lang-link {
	@include v.link;
	min-width: 3rem;
}

.header__hamburger {
	@include v.flex(flex-end, center, column);
	width: 4rem;
	height: 4rem;
	gap: .4rem;
	transition: v.$transition;
	cursor: pointer;
}

.header__hamburger-line {
	height: .2rem;
	border-radius: .5rem;
	background-color: aliceblue;
	transition: v.$transition;

	&:nth-child(1) {
		width: 2.5rem;
	}

	&:nth-child(2) {
		width: 2rem;
	}

	&:nth-child(3) {
		width: 3rem;
	}
}

.header__hamburger--active {
	align-items: center;

	.header__hamburger-line {
		width: 3rem;

		&:nth-child(1) {
			translate: 0 0.6rem;
			rotate: 45deg;
		}

		&:nth-child(2) {
			opacity: 0;
		}

		&:nth-child(3) {
			translate: 0 -0.6rem;
			rotate: -45deg;
		}
	}
}

.footer {
	@include v.flex;
	background: radial-gradient(circle at center,
			black,
			rgb(0, 4, 15),
			black);
	margin-top: 3rem;
	z-index: 10;
	box-shadow: 0 -.4vmin 3vmin rgba(0, 110, 253, 0.1);
	width: 100%;
	border-radius: 30% 30% 0 0;
	min-height: 10rem;
}

.contact__list {
	max-width: 95%;
	overflow-x: auto;
	width: 100%;
	padding: 1rem 0;
	@include v.flex(center, center);
	gap: 1rem;
	list-style-type: none;
}

.contact__list-item {
	@include v.flex;
	font-size: 1.3rem;
}

.contact__list-link {
	width: 8rem;
	border: .1rem solid v.$color;
	border-radius: 50%;
	padding: 1rem;
	@include v.flex(center, center, column);
	gap: .5rem;
	cursor: pointer;
	color: v.$color;
	opacity: .5;
	width: 100%;

	svg {
		fill: v.$color;
		width: 2rem;
		height: 2rem;
	}

	&:hover {
		opacity: 1;
	}
}


@media (min-width: 768px) {
	.header__nav {
		flex-direction: row;
	}

	.header__nav--active {
		height: 5rem;
	}

	.header__nav-list {
		height: 100%;
		flex-direction: row;
	}

}

@media (min-width: 1025px) {
	.header__hamburger {
		display: none;
	}

	.header__nav {
		position: static;
		height: 100%;
		width: max-content;
		background-color: rgba(0, 0, 0, 0);
	}

	.header__nav--active {
		height: 100%;
	}

	.header__nav-link {
		min-width: max-content;
		padding: 0 1rem;
	}
}