svg {
    fill: $color;
    color: aliceblue;
    width: 4rem;
    height: 4rem;
}
.work__skills {
    height: 15rem;
    width: 15rem;
    border: .1rem solid red;
}
.work__skills-link {
    background-color: aquamarine;
}