@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import "_var.scss";
@import "_normalize.scss";
@import "_layout.scss";
@import "_home.scss";
@import "_about.scss";
@import "_work.scss";
@import "_contact.scss";


html {
    font-family: Arial, sans-serif;
    font-size: 62.5%;
}
body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
section {
    position: relative;
    padding: 0;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 0.1;
    transition: .4s;
}
.container {
    display: flex;
    width: 97%;
}

a {
   text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    @include font;
    user-select: none;
}
h2 {
    z-index: 100;
    font-weight: 100;
    font-size: 4rem;
    text-transform: uppercase;
    color: $color;
    opacity: .1;
    width: 100%;
    margin: .5rem 0;
    white-space: nowrap;
}
h3 {
    z-index: 100;
    font-size: 2.5rem;
    margin: 2.5rem 0 1rem;
    font-weight: 300;
    opacity: .4;
    color: $color;
}


@media (min-width: 480px) {
    .container {
        width: 95%;
    }
}
 
@media (min-width: 768px) {
    html {
		font-size: 70%;
	}
}

@media (min-width: 1025px) {
    .container {
        width: 85%;
    }
    ::-webkit-scrollbar {
        width: .6rem;
        height: .8rem;
    }
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 .4rem rgba(121, 121, 121, 0.5);
    }
    ::-webkit-scrollbar-thumb {
        background: rgb(63, 63, 63);
    }
    ::selection {
        background-color: $c1;
        color: white; 
    }
    h2 {
        position: absolute;
        top: 50%;
        left: 0%;
        width: max-content;
        transform: translate(-50%, -50%) rotate(90deg);
        padding-bottom: 6%;
        font-size: 6rem;
    }
}
@media (min-width: 1367px) {
    html {
		font-size: 67.5%;
	}

}
@media screen and (min-width: 1500px ) {
	html {
		font-size: 70%;
	}
    .container {
        width: 110rem;
    }
}
@media screen and (min-width: 2000px ) {
	html {
		font-size: 75%;
	}
}