$c1: #060a4b;
$c2: #00d4ff;
$c3: rgb(20, 20, 20);
$cSpan: gray;
$color: rgb(216, 237, 255);
$transition: 0.2s;
$tObserver: 1.5s;
$circle: 113.2rem;
$bgItem: linear-gradient(45deg, $c1, $c2);

@mixin link($td: none) {
  text-align: center;
  color: $color;
  padding: 1rem 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: $td;

  &:hover {
    background: $bgItem;
    background-clip: text;
    color: transparent;
  }
}

@mixin font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@mixin textGradient {
  background: $bgItem;
  background-clip: text;
  color: transparent;
}

@mixin flex($ai: center, $jc: center, $fd: row, $fw: nowrap) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
  flex-direction: $fd;
  flex-wrap: $fw;
}