@use "../../assets/styles/var" as v;


.section {
  @include v.flex(center, center, column);
  gap: 1rem;
  padding: 0 var(--container);
  position: relative;
  height: 100vh;
}

.title {
  font-size: 4rem;
  font-weight: lighter;
  color: v.$color;
}

.text {
  font-size: 1.8rem;
  font-weight: 300;
  color: v.$cSpan;
}

.link {
  @include v.link(underline);
}