@use "../../../assets/styles/var" as v;

.skills {
  min-height: 10rem;
  width: 95%;
  max-width: 60rem;
  @include v.flex(center, center, row, wrap);
  gap: .5rem;
}

.skillsLink {
  @include v.flex(center, center, column);
  background: rgba(33, 33, 33, 0.5);
  width: 6rem;
  height: 7rem;
  gap: .5rem;
  color: v.$color;
  font-size: 1rem;
  text-decoration: none;
  opacity: .7;

  &:hover {
    opacity: 1;
  }
}

.skillsImg {
  height: 3.5rem;
  max-width: 4rem;
  border-radius: .5rem;
}