@use "../../../assets/styles/var" as v;

.textarea,
.input {
  @include v.font;
  width: 100%;
  color: v.$color;
  border: none;
  border-bottom: 0.1rem solid v.$borderColor;
  background: none;
  padding: 1rem;
  font-size: 1.6rem;
  outline: none;

  &::placeholder {
    color: v.$color;
  }
}

.textarea {
  resize: none;
  height: 10rem;
}


.lable,
.error {
  @include v.font;
  font-size: 1.2rem;
  text-align: start;
  width: 100%;
}

.lable {
  color: rgb(255, 217, 0);
}

.error {
  color: rgb(255, 102, 0);
}