@use "../../../assets/styles/var" as v;


.wrapper {
  @include v.flex(center, space-between, column);
  gap: 0.2rem;
  width: 100%;
}

.textarea,
.input {
  @include v.font;
  width: 100%;
  color: v.$color;
  border: none;
  border-bottom: 0.1rem solid v.$borderColor;
  background: none;
  padding: 1rem 0;
  font-size: 1.6rem;
  outline: none;

  &::placeholder {
    color: v.$color;
  }
}

.textarea {
  resize: none;
  height: 10rem;
}


.lable {
  @include v.font;
  height: 1.2rem;
  font-size: 1.2rem;
  text-align: start;
  width: 100%;
  color: v.$borderColor;
  pointer-events: none;
}

.lable[data-fill="false"] {
  translate: 0 2.4rem;
  font-size: 1.6rem;
}

.lable[data-error="true"] {
  color: v.$c4;
}