@use "var" as v;

.about {
	background: linear-gradient(to bottom,
			black,
			rgb(0, 2, 15),
			rgb(0, 0, 0));
}

.about__container {
	z-index: 1;
	padding: 2rem 0;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.about__block {
	@include v.flex(center, center, row, wrap);
	z-index: 10;
	gap: 2rem;
}

.about__photo {
	position: relative;
	width: 95%;
	min-height: 20rem;
	border-radius: 0 25% 0 25%;
	overflow: hidden;
	box-shadow: 1rem 1rem 3rem #000000;
	animation: photo 3s infinite backwards;
	opacity: 0;
	transition: v.$tObserver;
}

@keyframes photo {
	0% {
		translate: 0;
	}

	50% {
		translate: 0 -1%;
	}

	100% {
		translate: 0;
	}
}

.about__photo-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.about__photo-p {
	position: absolute;
	margin: 0;
	z-index: 2;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	font-size: 10rem;
	font-weight: 100;
	@include v.font;
	color: v.$c2;
	opacity: .1;
}

.about__list {
	@include v.flex(center, center, column);
	position: relative;
	padding: 0;
	gap: 1rem;
	width: 98%;
}

.about__list-li {
	@include v.font;
	@include v.flex(flex-start, space-between, row, wrap);
	width: calc(100% - 2rem);
	font-weight: 200;
	padding: 1rem;
	background: rgba(255, 255, 255, 0.01);
	transition: v.$tObserver translate;
	translate: 100vw -100%;

	&:nth-child(2n) {
		translate: 200vw 100%;
	}
}

.about__list-span {
	max-width: 40%;
	font-size: 1.4rem;
	font-weight: 300;
	color: v.$cSpan;
	text-align: left;
	white-space: nowrap;
	cursor: default;
	user-select: none;
	white-space: normal;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.about__list-p {
	margin: 0;
	max-width: 47.5%;
	text-align: right;
	color: v.$color;
	font-weight: 100;
	font-size: 1.6rem;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.about_experience {
	@include v.flex(center, center, column);
	gap: 2rem;
}

.clock {
	@include v.flex(center, space-around, row, wrap);
	padding: 0;
	list-style-type: none;
	gap: 2rem;
	width: 100%;
}

.clock__item {
	@include v.font;
	@include v.flex(center, space-between);
	width: 100%;
	padding: 1rem;
	background: rgba(46, 46, 46, 0.2);
	gap: 1rem;
	box-shadow: .3rem .3rem 1rem rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
	font-size: 3rem;
	color: rgba(85, 85, 85, 0.445);
}

.clock__item-span {
	width: 100%;
	text-align: center;
	font-weight: 100;
	font-size: 5rem;
	color: v.$cSpan;
}


@media (min-width: 480px) {
	.about__photo {
		max-width: 35rem;
	}
}

@media (min-width: 768px) {
	.about__photo {
		max-width: 30rem;
	}

	.about__list {
		width: 50%;
	}

	.clock {
		flex-wrap: nowrap;
	}
}

.about--active {
	opacity: 1;

	.about__photo {
		opacity: 1;
	}

	.about__list-li {
		translate: 0 0;
	}
}