@use "var" as v;

.home {
  position: relative;
  height: 100vh;
  max-height: 100vh;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../assets/bg.main.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: contrast(200%) brightness(50%);
  }
}

.home__h {
  margin: 0;
  width: 100%;
  @include v.flex(center, center, column);
  gap: 1rem;
  font-weight: 500;
  color: v.$color;
}

.home__container {
  z-index: 10;
  margin-top: 5rem;
  height: 100%;
  max-height: calc(100% - 5rem);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.home__h-part {
  font-size: 9vmin;
  line-height: 9vmin;
  text-align: center;
  transition: v.$tObserver translate;

  &:nth-child(1) {
    translate: -50%;
  }

  &:nth-child(2) {
    translate: 50%;
    @include v.textGradient;
  }

  &:nth-child(3) {
    translate: -50%;
    line-height: 12vmin;
    font-size: 12vmin;
  }
}


.home__link {
  padding: 0;
  @include v.flex;
  gap: 1.5rem;
  list-style-type: none;
  opacity: 0;
  transition: v.$tObserver;
}

.home__list-item {
  @include v.flex;
}

.home__list-link {
  backdrop-filter: blur(5rem);
  @include v.flex;
  padding: 1rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  border: .1rem solid v.$color;
  cursor: pointer;
  opacity: .5;

  svg {
    width: 100%;
    height: 100%;
    fill: v.$color;
  }

  &:hover {
    opacity: 1;
  }
}

.home__next {
  position: relative;
  @include v.flex;
  background: none;
  border: none;
  height: 8rem;
  width: 4rem;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transition: v.$tObserver;

  &:hover {
    .home__next-word {
      color: v.$c2;
    }

    .home__next-shell {
      &::after {
        content: "";
        translate: 0 0;
        animation: nextHover 1s;
      }
    }
  }
}

.home__next-word {
  position: absolute;
  left: 50%;
  top: 30%;
  translate: -60% -60%;
  rotate: -90deg;
  color: v.$cSpan;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1.2rem;
  transition: .2s color;
}

.home__next-shell {
  width: .3rem;
  height: 100%;
  background-color: v.$color;
  @include v.flex;


  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: v.$bgItem ;
    translate: 0 -100%;
    animation: next 1s infinite;
  }
}

@keyframes next {
  from {
    translate: 0 -100%;
  }

  to {
    translate: 0 100%;
  }
}

@keyframes nextHover {
  from {
    translate: 0 -100%;
  }

  to {
    translate: 0 0;
  }
}

@media (min-width: 1367px) {
  .home::before {
    background-size: contain;
  }
}

.home--active {
  opacity: 1;

  .home__h-part {
    &:nth-child(1) {
      translate: 0%;
    }

    &:nth-child(2) {
      translate: 0%;
    }

    &:nth-child(3) {
      translate: 0%;
    }
  }

  .home__link {
    opacity: 1;
  }

  .home__next {
    opacity: 1;
  }
}