@use "var" as v;

.work {
	background: linear-gradient(to bottom,
			black,
			rgb(1, 4, 19),
			rgb(0, 0, 0));
}

.work__container {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin-top: 5rem;
}


.work__competence {
	width: 100vw;
	padding: 1rem;
	margin: 0;
	@include v.flex(center, center, row, wrap);
	gap: 1rem;
	background: rgba(27, 27, 27, 0.3);
}

.work__competence-item {
	@include v.flex(center, center, column);
	padding: .5rem;
	border-radius: .5rem;
}

.work__competence-circle {
	position: relative;
	width: 7rem;
	height: 7rem;
	margin: .5rem;
	background: conic-gradient(v.$c1 0deg,
			v.$c2 var(--perc),
			rgba(204, 204, 204, 0.1) var(--perc),
			rgba(204, 204, 204, 0.1) 360deg);
	border-radius: 50%;

	&::before {
		content: var(--percT);
		color: v.$color;
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		width: 85%;
		height: 85%;
		background-color: rgb(20, 20, 20);
		border-radius: 50%;
		@include v.flex;
		font-size: 1.8rem;
	}

	opacity: 0;
	rotate: 800deg;
	transition: v.$tObserver;
}

.work__competence-label {
	text-align: center;
	font-size: 1.4rem;
	color: v.$color;
}

.work__process {
	width: 80%;
	position: relative;
	@include v.flex(center, center, column);
	margin: 0;
	padding: 3rem 0;
	list-style-type: none;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: -1.6rem;
		width: .2rem;
		height: 0%;
		background-color: v.$c2;
		transition: 5s;
	}
}

.work__process-item {
	@include v.flex(flex-end, center, column);
	position: relative;
	width: 100%;

	&::before {
		content: var(--num);
		position: absolute;
		top: .3rem;
		right: -2.25rem;
		@include v.flex(center, center, column);
		text-align: center;
		color: v.$c3;
		font-size: .8rem;
		font-weight: 900;
		margin: 0;
		padding: 0;
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 50%;
		background-color: v.$c2;
	}
}

.work__process-name {
	@include v.font;
	@include v.textGradient;
	width: min-content;
	font-weight: 900;
	font-size: 1.8rem;
	margin-top: 0;
}

.work__process-p {
	font-size: 1.4rem;
	opacity: 0;
	color: v.$c1;
	transition: 5s;
}

.work__skills {
	min-height: 10rem;
	width: 95%;
	max-width: 60rem;
	@include v.flex(center, center, row, wrap);
	gap: .5rem;
}

.work__skills-link {
	@include v.flex(center, center, column);
	background: rgba(33, 33, 33, 0.5);
	width: 6rem;
	height: 7rem;
	gap: .5rem;
	color: v.$color;
	opacity: .7;

	&:hover {
		opacity: 1;
	}
}

.work__skills-img {
	height: 3.5rem;
	max-width: 4rem;
	border-radius: .5rem;
}

@media (min-width: 480px) {
	.work__process {
		align-items: flex-start;

		&::before {
			left: 50%;
			translate: -50%;
		}
	}

	.work__process-item {
		position: relative;
		width: calc(50% - 1.5rem);
		text-align: right;

		&:nth-child(2n) {
			text-align: start;
			align-self: flex-end;
			align-items: flex-start;

			&::before {
				left: -2.25rem;
			}
		}
	}
}

.work--active {
	opacity: 1;

	.work__competence-circle {
		opacity: 1;
		rotate: 0deg;
	}

	.work__process {
		&::before {
			height: 100%;
		}
	}

	.work__process-p {
		opacity: .8;
		color: v.$color;
	}
}